<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>br.ufjf.semana4.Menu</servlet-class>
        <init-param>
            <param-name>dbUsername</param-name>
            <param-value>Joana</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>uvapassa</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>br.ufjf.semana4.Sair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaError</servlet-name>
        <servlet-class>br.ufjf.semana4.JavaError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/Sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaError</servlet-name>
        <url-pattern>/JavaError</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/erroHtml.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erroJava.html</location>
    </error-page>
</web-app>
